body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: auto;
  position: relative;
}

.page-container {
  display: flex;
  height: 100vh;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.login-container {
  width: 500px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-align: left;
}

.login-container input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  background-color: blue;
  color: white;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:last-child {
  background-color: red;
  margin-right: 0;
}

.login-container button:hover {
  opacity: 0.8;
}

.login-container p {
  color: red;
  margin-top: 10px;
}

.login-container p a {
  color: blue;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

.image-container {
  flex: 1;
  overflow: hidden;
  width: 70vw;
  height: 70vh;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border-radius: 10px; /* Added for a smoother look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for effect */
}

.image-container-inner {
  width: 100%;
  height: 300%;
  display: flex;
  flex-direction: column;
  animation: scroll-up 3s linear infinite;
}

.image-container img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  object-position: center;
  border-radius: 10px; /* Added for consistency with container */
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-66.67%);
  }
}
